<template>
  <div class="wrapper">
    <custom-header></custom-header>
    <div class="pageContent">
      <section class="panel panelMod">
        <div class="panel-heading panelMod">
          <div class="columns">
            <div class="column padd">
              Overview
            </div>
            <div class="column">
              <a class="button is-success is-inverted" @click="importUpdate">
                <span class="icon">
                  <i class="fa fa-refresh"></i>
                </span>
              </a>
            </div>
            <div class="column nopadd">
              <div class="columns is-gapless">
                <div class="column is-10">
                  <flat-pickr v-model="date" placeholder="Select date" :config="config" :required="true" class="form-control custom-input-class" name="date">
                  </flat-pickr>
                </div>
                <div class="column is-2" v-bind:class="{ 'is-hidden': !isGo }">
                  <a class="button is-info is-inverted" @click="updateChart">
                    <span class="icon">
                      <i class="fa fa-bars"></i>
                    </span>
                  </a>
                </div>
                <div class="column is-2" v-bind:class="{ 'is-hidden': isGo }">
                  <a class="button is-success is-inverted" @click="updateChart">
                    <span class="icon">
                      <i class="fa fa-check"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <div class="columns paddingSides">
        <div class="column is-8" v-if="totals.total">
          <div class="charts">
            <div class="columns">
              <div class="column is-6">
                <card title="Gross revenue" :difference="sanitized.difference" :value="totals.amounts" :chart="charts.amounts" :percent="changes.amounts"></card>
              </div>
              <div class="column is-6">
                <card title="Net revenue" :difference="sanitized.difference" :value="totals.net" :chart="charts.net" :percent="changes.net"></card>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <card title="Total fees" type='fees' :difference="sanitized.difference" :value="totals.fees" :chart="charts.fees" :percent="changes.fees"></card>
              </div>
              <div class="column is-6">
                <card title="Total transactions" money='false' :difference="sanitized.difference" :value="totals.total" :chart="charts.total" :percent="changes.total"></card>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <card title="Active customers" money='false' :difference="sanitized.difference" :value="sanitized.customer.curr" :chart="sanitized.customer.chart" :percent="changes.customer"></card>
              </div>
              <div class="column is-6">
                <card title="New customers" money='false' :difference="sanitized.difference" :value="sanitized.newCustomer.curr" :chart="sanitized.newCustomer.chart" :percent="changes.newCustomer"></card>
              </div>
            </div>
            <div class="columns">
              <div class="column is-4">
                <small-card title="Avg. revenue per user" :difference="sanitized.difference" :value="totals.net/sanitized.customer.curr" :percent="changes.avgCustomer"></small-card>
              </div>
              <div class="column is-4">
                <small-card title="Avg. revenue per transaction" :difference="sanitized.difference" :value="totals.net/totals.total" :percent="changes.avgTransaction"></small-card>
              </div>
              <div class="column is-4">
                <small-card title="Avg. revenue per day" :difference="sanitized.difference" :value="totals.net/charts.total.length" :percent="changes.avgDay"></small-card>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4" v-if="totals.total">
          <div class="columns">
            <div class="column">
              <pie v-if="pieChartOne.length > 0" title="Transactions by status" :data="pieChartOne"></pie>
            </div>
          </div>
          <div class="columns">
            <div class="column">
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Activity stream
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <ul class="heyo">
                      <activity v-for="(i, index) in sanitized.stream" v-bind:key="index" :amount="i.amount" :type='i.status' :customer='i.customer.first_name' :timeago='i.created_at'></activity>
                    </ul>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns marginBott"></div>
    <custom-footer></custom-footer>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import url from '../utils/url'
import CustomHeader from '@/components/CustomHeader'
import CustomFooter from '@/components/Footer'
import pie from '@/components/pie'
import Card from '@/components/Card'
import SmallCard from '@/components/SmallCard'
import Activity from '@/components/activity'
var subMonths = require('date-fns/sub_months')
export default {
  name: 'dashboard',
  data() {
    return {
      isGo: true,
      triggerUpdate: false,
      tokenSecret: window.localStorage.getItem('paymetrics'),
      changees: {
        total: null,
        amounts: null,
        net: null,
        fees: null,
        customer: null,
        newCustomer: null,
        avgCustomer: null,
        avgTransaction: null,
        avgDay: null
      },
      totals: {
        total: null,
        amounts: null,
        net: null,
        fees: null
      },
      charts: {
        total: null,
        amounts: null,
        net: null,
        fees: null
      },
      sanitized: {},
      pieChartOne: [],
      pieChartTwo: {},
      date: new Date(),
      // Get more form https://chmln.github.io/flatpickr/options/
      config: {
        // wrap: true, // set wrap to true when using 'input-group'
        altFormat: 'F J, Y',
        altInput: true,
        defaultDate: [subMonths(new Date(), 1), new Date()],
        mode: 'range'
      }
    }
  },
  mounted() {
    const self = this
    const payload = {
      from: subMonths(new Date(), 1),
      to: new Date()
    }
    this.loadData()
      .then(data => {
        self.sanitize(data)
      })
      .catch(console.log)
  },
  methods: {
    changeDate() {
      // this.isGo = true
    },
    updateChart() {
      const dates = this.date.split(' to ')
      const fromDate = new Date(dates[0])
      const toDate = new Date(dates[1])
      const payload = {
        from: fromDate,
        to: toDate
      }
      const self = this
      this.loadData(payload)
        .then(data => {
          self.sanitize(data)
        })
        .catch(console.log)
    },
    importData() {
      let options = {
        baseURL: url,
        headers: { Authorization: `Bearer ${this.tokenSecret}` },
        method: 'post',
        url: `/accounts/initialize`
      }
      this.$http(options)
        .then(console.log)
        .catch(console.log)
    },
    importUpdate() {
      let options = {
        baseURL: url,
        headers: { Authorization: `Bearer ${this.tokenSecret}` },
        method: 'post',
        url: `/accounts/latest`
      }
      this.$http(options)
        .then(console.log)
        .catch(console.log)
    },
    async loadData(payload) {
      let options = {
        baseURL: url,
        headers: { Authorization: `Bearer ${this.tokenSecret}` },
        method: 'post',
        data: payload,
        url: `/dashboard`
      }
      const query = await this.$http(options)
      return query.data
    },
    sanitize(data) {
      this.sanitized = data
      const totals = {
        total: data.revenue.data.reduce((s, a) => s + a.number, 0),
        amounts: data.revenue.data.reduce((s, a) => s + a.amount, 0),
        net: data.revenue.data.reduce((s, a) => s + (a.amount - a.fees), 0),
        fees: data.revenue.data.reduce((s, a) => s + a.fees, 0)
      }
      const charts = {
        total: data.revenue.data.map(a => a.number),
        amounts: data.revenue.data.map(a => a.amount),
        net: data.revenue.data.map(a => a.amount - a.fees),
        fees: data.revenue.data.map(a => a.fees)
      }

      const pieChartOne = []
      const colors = {
        success: '#23D160',
        failed: '#FF3860',
        abandoned: '#b8def1'
      }
      for (let key in data.status) {
        pieChartOne.push({
          name: key.toUpperCase(),
          y: data.status[key],
          color: colors[key]
        })
      }
      this.pieChartOne = pieChartOne

      // this.pieChartTwo = pieChartTwo
      this.totals = Object.assign({}, totals)
      this.charts = Object.assign({}, charts)
      // this.totals = totals;
    },
    percentageChange(c, p) {
      const val = (c - p) / p * 100
      if (isNaN(val) || val === Infinity) {
        return 0
      } else {
        return val
      }
    },
    changer: function() {}
  },
  watch: {
    date(v) {
      this.isGo = false
    },
    totals(v) {}
  },
  computed: {
    changes: function() {
      return {
        total: this.percentageChange(
          this.totals.total,
          this.sanitized.compareRevenue.transactions
        ),
        amounts: this.percentageChange(
          this.totals.amounts,
          this.sanitized.compareRevenue.total
        ),
        net: this.percentageChange(
          this.totals.net,
          this.sanitized.compareRevenue.total -
            this.sanitized.compareRevenue.fees
        ),
        fees: this.percentageChange(
          this.totals.fees,
          this.sanitized.compareRevenue.fees
        ),
        customer: this.percentageChange(
          this.sanitized.customer.curr,
          this.sanitized.customer.prev
        ),
        newCustomer: this.percentageChange(
          this.sanitized.newCustomer.curr,
          this.sanitized.newCustomer.prev
        ),
        avgCustomer: this.percentageChange(
          this.totals.net / this.sanitized.customer.curr,
          (this.sanitized.compareRevenue.total -
            this.sanitized.compareRevenue.fees) /
            this.sanitized.customer.prev
        ),
        avgTransaction: this.percentageChange(
          this.totals.net / this.totals.total,
          (this.sanitized.compareRevenue.total -
            this.sanitized.compareRevenue.fees) /
            this.sanitized.compareRevenue.transactions
        ),
        avgDay: this.percentageChange(
          this.totals.net / this.charts.total.length,
          (this.sanitized.compareRevenue.total -
            this.sanitized.compareRevenue.fees) /
            this.charts.total.length
        )
      }
    }
  },
  components: {
    CustomHeader,
    Card,
    Activity,
    pie,
    CustomFooter,
    flatPickr,
    SmallCard
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navbar {
  background: #314755;
  background: -webkit-linear-gradient(to right, #26a0da, #314755);
  background: linear-gradient(to right, #26a0da, #314755);
}

.paddingSides {
  padding-left: 2rem;
  padding-right: 2rem;
}

.paddingTop {
  padding-top: 2rem;
}

.heyo {
  list-style: none;
  padding: 0em;
  padding-bottom: 2em;
}

.content ul {
  margin: 1em;
}

.panelMod {
  color: #cecece;
  background-color: #0e3369;
  border: none;
}

.padd {
  padding-left: 2rem;
}

.nopadd {
  padding-right: 0;
}

.stream {
  background-color: white;
}

.card {
  min-height: 200px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.card:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.007);
}

.card-content {
  padding: 0;
}

.opacityContent {
  opacity: 0.5;
}

.card-header {
  box-shadow: none !important;
}

.card-header-title {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}

.value {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: #2f7ad2;
  font-size: 2.625rem;
  font-weight: 600;
}

.trend {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  text-align: center;
  border: 1px solid #e2e8ea;
  border-radius: 3px;
  padding: 0 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.trend span {
  text-transform: uppercase;
  color: #a1abb3;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1rem;
  padding: 0 0.25rem;
}

.percent.green {
  color: #1ec06a;
}

.percent.red {
  color: red;
}

.percent {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 0.175rem;
}

.marginBott {
  margin-bottom: 3rem;
}
</style>
