<template>
  <div class="wrapper">
    <section class="hero is-primary is-medium heroBg">
      <div class="hero-head">
        <custom-header></custom-header>
      </div>
      <div class="hero-body heroTop">
        <div class="container has-text-centered">
          <transition name="fade" appear>
            <h2 class="title">
              Get detailed insights into your revenue data.
            </h2>
          </transition>
          <h2 class="subtitle">
            Zero-setup analytics for Paystack
          </h2>
          <a class="button is-info is-large btnCta hvr-grow" href="/register">
            <span>Start free trial</span>
          </a>
        </div>
      </div>
    </section>
    <div class="content">
      <div class="columns dashboardImageContainer">
        <div class="column is-8 has-text-centered centreElement subMargin">
          <transition name="fade" appear>
            <img src="../assets/dashboard.png" class="shadow">
          </transition>
        </div>
      </div>
      <section class="hero is-medium heroFlat">
        <div class="hero-head has-text-centered">
          <h2 class="subtitle">
            What's on offer?
          </h2>
        </div>
        <div class="hero-body featuresHero heroBody">
          <div class="container">
            <div class="columns">
              <div class="column">
                <img src="../assets/stacked.jpg" class="shadow stackH">
              </div>
              <div class="column">
                <h5>Get detailed, comparative insights into the following bits of data</h5>
                <div class="columns">
                  <div class="column">
                    <ul>
                      <li> Gross revenue</li>
                      <li> Net revenue</li>
                      <li> Fees</li>
                      <li> Transactions </li>
                    </ul>
                  </div>
                  <div class="column">
                    <ul>
                      <li> Active Customers</li>
                      <li> New Customers</li>
                      <li> Failed/Abandoned transactions</li>
                      <li> And more...</li>
                    </ul>
                  </div>
                </div>
                <article>
                  It’s about making placeholder text great again. That’s what people want, they want placeholder text to be great again. I’m the best thing that ever happened to placeholder text. Some people have an ability to write placeholder text... It's an art you're basically born with. You either have it or you don't.
                  <br>
                  <br>
                  <a class="button is-light is-large btnCta" href="/register">
                    <span>Try the demo</span>
                  </a>
                  <a class="button is-info is-large btnCta" href="/register">
                    <span>Start free trial</span>
                  </a>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hero is-medium heroFlat">
        <div class="hero-head has-text-centered">
          <h2 class="subtitle">
            What customers are saying
          </h2>
        </div>
        <div class="hero-body featuresHero heroBody">
          <div class="container">
            <div class="columns ">
              <div class="column is-4">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>John Smith</strong>
                          <small>@johnsmith</small>
                          <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column is-4">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>John Smith</strong>
                          <small>@johnsmith</small>
                          <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
              <div class="column is-4">
                <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>John Smith</strong>
                          <small>@johnsmith</small>
                          <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <custom-footer></custom-footer>
  </div>
</template>

<script>
import CustomHeader from '@/components/CustomHeader';
import CustomFooter from '@/components/Footer';

export default {
  name: 'landing',
  components: {
    CustomHeader,
    CustomFooter
  }
};
</script>

<style>
.heroBg {
  background: #314755;
  background: -webkit-linear-gradient(to right, #26a0da, #314755);
  background: linear-gradient(to right, #26a0da, #314755);
}

.heroFlat {
  /* padding-top: 1rem; */
  background: #efefef;
}

.heroBody {
  padding-top: 2rem !important;
  /* background: #efefef; */
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
  margin-top: 0.5714em;
}

.featuresHero {
  padding-top: 1rem;
  background: whitesmoke;
}

.btnCta {
  background-color: #26a0da;
  border-radius: 8px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.dashboardImageContainer {
  background-color: whitesmoke;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: -2rem;
}

.bgBlue {
  background: aliceblue;
}

.stackH {
  width: 550px;
  height: 360px;
}

.fade-enter-active {
  transition: all 1s ease;
}

.fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

@media screen and (min-width: 769px) {
  .heroTop {
    padding-top: 3rem !important;
  }
  .subMargin {
    margin-top: -4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 769px) {
  .heroTop {
    padding-bottom: 8rem;
  }
  .subMargin > img {
    margin-top: -4rem;
    margin-bottom: 4rem;
  }
  .button.is-large {
    font-size: 1.35rem;
  }
}
</style>
