<template>
  <section class="hero is-fullheight heroBg">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 formCard">
            <div class="media logo-box">
              <figure class="image logo-enclosure">
                <img class="logo" src="../assets/logo.png" alt="Image" height="50">
              </figure>
            </div>
            <div class="card">
              <div class="card-content">
                <form v-on:submit.prevent="onRegister" autocomplete="off">
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                      <input class="input" v-bind:class="{ 'is-danger': isNameError }" type="email" placeholder="hello@gmail.com" required v-model="formData.email">
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                      <input class="input" v-bind:class="{ 'is-danger': isError }" type="password" required v-model="formData.password">
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Confirm password</label>
                    <div class="control has-icons-left">
                      <input class="input" v-bind:class="{ 'is-danger': isError }" type="password" required v-model="formData.cPassword">
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <button type="submit" class="button is-fullwidth btn-mod btn-special" v-bind:class="{ 'is-loading': isLoading }" >Create your account</button>
                    </div>
                    <!-- <div class="control">
                                                    <button class="button is-link">Cancel</button>
                                                    </div> -->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="hero-foot bgFoot">
    <div class="container">
      <div class="columns">
        <div class="column is-4 formCard paddfooter">
            <a class="button is-fullwidth btn-mod btn-foot" href="/login">Log in to your account</a>
        </div>
      </div>
    </div>
  </div>
  </section>
</template>

<script>
import url from '../utils/url'
import { validateEmail } from '../utils/validate'
export default {
  name: 'register',
  data() {
    return {
      isError: false,
      isNameError: false,
      isLoading: false,
      formData: {}
    }
  },
  methods: {
    onRegister() {
      this.isError = this.isNameError = false
      this.isLoading = true
      if (validateEmail(this.formData.email) === false) {
        this.isLoading = false
        this.isNameError = true
        return
      }
      if (!this.formData.password || !this.formData.cPassword) {
        this.isLoading = false
        this.isError = true
        return
      }
      if (this.formData.password !== this.formData.cPassword) {
        this.isLoading = false
        this.isError = true
        return
      }
      this.$store
        .dispatch('register', {
          email: this.formData.email,
          password: this.formData.password
        })
        .then(() => {
          this.isLoading = false
          this.formData.email = this.formData.password = ''
          this.$router.push('/settings')
        })
        .catch(error => {
          const message = error.message ? error.message : 'There was an error'
          this.isLoading = false
          this.isError = true
        })
    }
  }
}
</script>

<style>
.heroBg {
  background: #314755;
  background: -webkit-linear-gradient(to right, #26a0da, #314755);
  background: linear-gradient(to right, #26a0da, #314755);
}

.paddfooter {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bgFoot {
  background: #314755;
}

.btn-foot {
  background-color: #b3cdd9;
  border-color: #dbdbdb;
  color: #000000;
}

.formCard {
  margin-left: auto;
  margin-right: auto;
}

.input {
  font-size: 1.05rem;
}

.logo {
  max-height: 50px;
}

.logo-enclosure {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 16px;
}
</style>
