<template>
  <div class="wrapper">
    <custom-header></custom-header>
    <div class="pageContent">
      <section class="panel paddingSides panelMod">
        <p class="panel-heading panelMod">
          Settings
        </p>
      </section>
      <div class="columns paddingSides">
        <div class="column is-8">
          <form v-on:submit.prevent="onSubmit" autocomplete="off">
            <div class="field">
              <label class="label">Company Name</label>
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Paymetrics PLC" required v-model="formData.companyName">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Secret Token</label>
              <div class="control has-icons-left">
                <input class="input" v-bind:class="{ 'is-danger': isError }" type="text" required v-model="formData.tokenSecret">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control is-fullwidth">
                <button class="button is-fullwidth is-success btn-mod" v-bind:class="{ 'is-loading': isLoading }" @click="onSubmit">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">

      </div>
      <div class="column">

      </div>
    </div>
    <custom-footer></custom-footer>
  </div>
</template>

<script>
import CustomHeader from '@/components/CustomHeader'
import CustomFooter from '@/components/Footer'
import url from '../utils/url'

export default {
  name: 'settings',
  data() {
    return {
      isError: false,
      tokenSecret: window.localStorage.getItem('paymetrics'),
      isNameError: false,
      isLoading: false,
      formData: {}
    }
  },
  methods: {
    onSubmit: function() {
      let self = this
      this.isError = false
      this.isLoading = true
      if (!this.formData.tokenSecret) {
        this.isLoading = false
        this.isError = true
        return
      }

      this.$http({
        url: `/accounts/update`,
        baseURL: url,
        headers: { Authorization: `Bearer ${this.tokenSecret}` },
        method: 'post',
        data: self.formData
      })
        .then(result => {
          this.isLoading = false
          self.$router.push({ path: '/dashboard' })
        })
        .catch(error => {
          const message = error.message ? error.message : 'There was an error'
          this.isLoading = false
          this.isError = true
        })
    }
  },
  components: {
    CustomHeader,
    CustomFooter
  }
}
</script>

<style>
.navbar {
  background: #314755;
  background: -webkit-linear-gradient(to right, #26a0da, #314755);
  background: linear-gradient(to right, #26a0da, #314755);
}

.panel-heading {
  border: 0px;
}

.paddingSides {
  padding-left: 2rem;
  padding-right: 2rem;
}
</style>
