<template>
  <li class="bottom">
    <p>
      <span class="tag" v-bind:class="tagClass">{{type}}</span>
      <b>{{amount | amountFormat}}</b> from
      <b>
        <a>{{customer | customerFormat}}</a>
      </b>
      <span>{{timeago | timeagoFormat}} ago</span>
    </p>
  </li>
</template>

<script>
import distanceInWords from 'date-fns/distance_in_words'
export default {
  name: 'activity',
  props: {
    amount: {
      type: Number,
      required: true
    },
    customer: {
      type: [String, Number],
      required: false
    },
    type: {
      type: String,
      required: true
    },
    timeago: {
      type: String,
      required: true
    },
  },
  data() {
    return {
      msg: 'is-success',
      isNameError: true
    }
  },
  methods: {
    logout() {

    }
  },
  filters: {
    amountFormat(value) {
      return `₦${(value / 100).toLocaleString()}`
    },
    customerFormat(value) {
      if (value == null) {
        return ['Someone', 'Customer'][Math.floor(Math.random() * 2)];
      } else {
        return value.toLocaleString()
      }
    },
    timeagoFormat(value) {
      return distanceInWords(value, new Date())
    }
  },
  computed: {
    tagClass() {
      const classA = {
        'success': 'is-success',
        'pending': 'is-warning',
        'failed': 'is-danger',
      }
      return classA[this.type]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navbar {
  background: #091534;
  padding-left: 2rem;
  padding-right: 2rem;
}

.is-white {
  color: #DBE5FF;
}

.is-white:hover {
  color: #07844c;
}

.is-logo:hover {
  background-color: transparent;
  color: #0a0a0a;
}

.bottom {
  margin-bottom: 0.08rem
}
</style>
