<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{title}}
      </p>
    </header>
    <div class="card-content" v-if="chart">
      <div class="content contentOpacity">
        <trend :data="chart" :gradient="['#6fa8dc', '#42b983', '#2c3e50']" auto-draw :stroke-width='4' :strokeOpacity='0.9' smooth>
        </trend>
      </div>
      <h2 class="value">{{value | toLocale | amountFormat(money) }}</h2>
      <div class="trend">
        <h2 class="percent" v-bind:class="percentClass">{{percent | toFixed}}%</h2>
        <span>{{difference}}</span>
      </div>
    </div>
    <div class="card-content" v-else>
      <div class="content">
        <spinner></spinner>
      </div>
    </div>
  </div>
</template>

<script>
import Spinner from './Spinner'
export default {
  name: 'graphs',
  props: {
    title: {
      type: String,
      required: true
    },
    money: {
      type: String,
      required: false
    },
    type: {
      type: String,
      required: false
    },
    difference: {
      type: String,
      required: true
    },
    value: {
      type: Number,
      required: true
    },
    percent: {
      type: Number,
      required: true
    },
    chart: {
      type: Array,
      required: true
    },
  },
  data() {
    return {
      options: {
        legend: {
          display: true,
          position: 'right'
        },
        responsive: true,
        maintainAspectRatio: true
      }
    }
  },
  computed: {
    percentClass() {
      const classA = {
        'up': 'fa fa-arrow-up green',
        'down': 'fa fa-arrow-down red',
        'fees-down': 'fa fa-arrow-down green',
        'fees-up': 'fa fa-arrow-up red'
      }
      if (this.type === 'fees') {
        if (this.percent < 0) {
          return classA['fees-down']
        }
        if (this.percent === 0) {
          return classA['fees-up']
        }
        if (this.percent > 0) {
          return classA['fees-up']
        }
      } else {
        if (this.percent < 0) {
          return classA['down']
        }
        if (this.percent === 0) {
          return classA['up']
        }
        if (this.percent > 0) {
          return classA['up']
        }
      }
    }
  },
  filters: {
    toFixed(value) {
      return value.toFixed(2)
    },
    amountFormat(value, money) {
      if (money !== 'false') {
        return `₦${value}`
      } else {
        return value
      }
    },
    toLocale(value) {
      return value.toLocaleString('en-Gb', { style: 'decimal', maximumFractionDigits: 2 })
    }
  },
  components: {
    Spinner
  }
}
</script>

<style scoped>
.fa {
  display: block;
}

.card {
  min-height: 200px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.card:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .007);
}

.card-content {
  padding: 0;
  margin-top: 2rem
}

.contentOpacity {
  opacity: 0.5;
}

.card-header {
  box-shadow: none !important;
}

.card-header-title {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}


.value {
  position: absolute;
  top: 1.8rem;
  left: 1.5rem;
  color: #2f7ad2;
  font-size: 2.625rem;
  font-weight: 600;
}

.trend {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  text-align: center;
  border: 1px solid #e2e8ea;
  border-radius: 3px;
  padding: 0 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.trend span {
  text-transform: uppercase;
  color: #a1abb3;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 1rem;
  padding: 0 0.25rem
}

.percent.green {
  color: #1EC06A;
}

.percent.red {
  color: red;
}

.percent {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  padding-top: 0.175rem;
}
</style>
