<template>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item brand" href="/">
        <img class="logo" src="../assets/logo.png" alt="Image" height="50">
      </a>

      <div class="navbar-burger burger" data-target="menu" @click="openMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="menu" class="navbar-menu" v-bind:class="{ 'is-active': isMobileMenu }">
      <div class="navbar-end btnHov">
        <a class="nav-item">
          Learn more
        </a>
        <a class="nav-item" v-if="!decoded">
          Demo
        </a>
        <a class="nav-item" v-if="decoded" href="/dashboard">
          Dashboard
        </a>
        <a class="nav-item" v-if="!decoded">
          Pricing
        </a>
        <a class="nav-item" v-if="decoded">
          Support
        </a>
        <span class="nav-item">
          <a class="button is-info is-inverted btnMod" href="/login" v-if="!decoded">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
            <span>Sign in</span>
          </a>
          <a class="button is-info is-inverted btnMod" @click="logout" v-if="decoded">
            <span class="icon">
              <i class="fa fa-user"></i>
            </span>
            <span>Sign out</span>
          </a>
        </span>
      </div>
    </div>
  </nav>
</template>

<script>
import url from '../utils/url'

export default {
  name: 'header',
  data() {
    return {
      isMobileMenu: false,
      decoded: window.localStorage.getItem('paymetrics')
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout')
    },
    openMenu() {
      this.isMobileMenu = !this.isMobileMenu
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.navbar {
  min-height: 70px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #314755;
  background: -webkit-linear-gradient(to right, #26a0da, #314755);
  background: linear-gradient(to right, #26a0da, #314755);
}

.brand:hover {
  background-color: rgba(245, 245, 245, 0) !important;
}

.navbar-burger span {
  background-color: #ffffff;
}

.navbar-burger:hover {
  background-color: rgba(245, 245, 245, 0);
  border: 1px solid #ffffff;
}

a.nav-item,
.hero.is-primary .nav-item a:not(.button) {
  color: rgba(255, 255, 255, 0.7);
}

a.nav-item:hover {
  color: #fff;
}

.btnHov > a:hover {
  transition: 0.3s;
  background-color: #75b3d0;
}

@media screen and (max-width: 1007px) {
  .navbar-menu.is-active {
    background: #314755;
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    background: linear-gradient(to right, #26a0da, #314755);
  }
  .navbar-menu {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
</style>
