<template>
  <section class="hero footer">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="content">
              <h3 class="is-white">Links</h3>
              <ul class="list">
                <li>
                  <a class="links" href="#">Terms </a>
                </li>
                <li>
                  <a class="links" href="#">Privacy </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <h3 class="is-white">Contact</h3>
              <ul class="list">
                <li>
                  Email us at
                  <a class="links" href="#">hello@paymetrics.co </a>
                </li>
                <li>
                  Ping us on Twitter
                  <a class="links" href="#">@paymetrics </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <img src="../assets/logo.png" alt="Logo" width="200">
              <p>
                &copy; 2017. All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'footer',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer {
  background: #305265;
  color: #fff;
  padding-bottom: 0;
  padding-top: 0;
}

.is-white {
  color: #fff;
}

.list {
  list-style-type: none;
  margin-left: 0
}

.links {
  color: whitesmoke;
}

.links:hover {
  color: #26a0da;
}
</style>
