<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{title}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <vue-highcharts :options="options" ref="lineCharts"></vue-highcharts>
      </div>
    </div>
  </div>
</template>

<script>
import VueHighcharts from 'vue2-highcharts'

export default {
  props: {
    title: {
      type: String,
      required: false
    },
    data: {
      type: Array,
      required: true
    },
  },
  components: {
    VueHighcharts
  },
  mounted() {
    // lineCharts.hideLoading();
    // this.$refs.lineCharts.addSeries(this.data);
    // console.log(this.data)
  },
  data() {
    return {
      options: {
        chart: {
          type: 'pie',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
        },
        title: {
          text: null,
          margin: 0
        },
        tooltip: {
          pointFormat: `% share: <b>{point.percentage:.2f}%</b><br/>`,
          shared: true
        },
        credits: {
          enabled: false
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true
          }
        },
        series: [{
          name: 'Total',
          colorByPoint: true,
          data: this.data
        }]
      }
    }
  },
  methods: {
  }
}
</script>

<style scoped>
.card-content {
  padding: 0
}

.card-header {
  box-shadow: none !important;
}

.card-header-title {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
}
</style>