<template>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <piechart :chartData="data" :chartLabels="labels"></piechart>
      </div>
    </div>
  </div>
</template>

<script>
import piechart from './piechart'
export default {
  name: 'piecard',
  props: {
    title: {
      type: String,
      required: true
    },
    labels: {
      type: Array,
      required: true
    },
    data: {
      type: Array,
      required: true
    },
  },
  data() {
    return {
    }
  },
  components: {
    piechart
  },
  filters: {
    toFixed: function(value) {
      return value.toFixed(2)
    },
    toLocale: function(value) {
      return value.toLocaleString()
    }
  }
}
</script>

<style scoped>
.card {
  height: 200px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.card:hover {
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .007);
}

.card-content {}

.card-header {
  box-shadow: none !important;
}

.card-header-title {
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0;
  color: #091534;
  font-weight: 400
}

#pie-chart {
  display: block;
  width: 150px !important;
}
</style>
