<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
html {
  background-color: whitesmoke;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
}

.is-white {
  color: #fff;
}
.btn-special {
  color: #fff;
  background-color: #26a0da;
}
.btn-special:hover {
  color: #d4d4d4;
}
.btnMod {
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}

.btnMod:hover {
  margin-top: -2px;
}

.card {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.centreElement {
  margin-left: auto;
  margin-right: auto;
}
</style>
